<%= form_for(@program) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :seeking_volunteers %><br>
    <%= f.check_box :seeking_volunteers %>
  </div>
  <div class="field">
    <%= f.label :monthly_volunteer_hour_commitment %><br>
    <%= f.number_field :monthly_volunteer_hour_commitment %>
  </div>
  <div class="field">
    <%= f.label :parent_contact_name %><br>
    <%= f.text_field :parent_contact_name %>
  </div>
  <div class="field">
    <%= f.label :parent_contact_email %><br>
    <%= f.text_field :parent_contact_email %>
  </div>
  <div class="field">
    <%= f.label :parent_contact_phone %><br>
    <%= f.text_field :parent_contact_phone %>
  </div>
  <div class="field">
    <%= f.label :volunteer_contact_name %><br>
    <%= f.text_field :volunteer_contact_name %>
  </div>
  <div class="field">
    <%= f.label :volunteer_contact_email %><br>
    <%= f.text_field :volunteer_contact_email %>
  </div>
  <div class="field">
    <%= f.label :volunteer_contact_phone %><br>
    <%= f.text_field :volunteer_contact_phone %>
  </div>
  <div class="field">
    <%= f.label :school_contact_name %><br>
    <%= f.text_field :school_contact_name %>
  </div>
  <div class="field">
    <%= f.label :school_contact_email %><br>
    <%= f.text_field :school_contact_email %>
  </div>
  <div class="field">
    <%= f.label :school_contact_phone %><br>
    <%= f.text_field :school_contact_phone %>
  </div>
  <div class="field">
    <%= f.label :organization_id %><br>
    <%= f.number_field :organization_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
